.idea/
.vscode/
node_modules/
build/
tmp/
temp/
.env

firebase.config.json

config/default.ts

src/controllers/auth.controller.ts
src/controllers/reservation.controller.ts
src/controllers/user.controller.ts

src/entities/ride.entity.ts
src/entities/reservation.entity.ts
src/entities/opinion.entity.ts

src/routes/auth.routes.ts
src/routes/user.routes.ts

src/schemas/reservation.schema.ts
src/schemas/ride.schema.ts
src/schemas/user.schema.ts

src/services/reservation.service.ts
src/services/ride.service.ts
src/services/user.service.ts